@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.bgColour{
  background-color: #F5F5F5;
}

.blueShadow {
  box-shadow: 3px 3px 0 0 #9966CC;
}

.blueShadow:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 0 #ddc0dd;
}

.custom-text {
  color: #d894d8;
}

.custom-text-button {
  background-color: #8A2BE2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-text-button:hover {
  background-color: #7A1FA2;
}

li{
  padding-bottom: 5px;
}

.accordion-bg {
  background-color: #8A2BE2;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.accordion-bg:hover {
  background-color: #7A1FA2;
}

.icon-size{
  font-size: xxx-large;
}

.padding-top-class{
  padding-top: 5%;
}